.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;

    display:  grid;
    grid-template-columns: 1fr 1fr;;
    gap: 6.25rem;
    align-content: center;
}

.ContainerLogin{
    display: flex;

    background: #4953B8;
    height: 100vh;

    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.5rem;
}

.simbolo{
    height: 90vh;
}

.boxLogin{
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
}

.btnLogin{
    border: none;
    background: #4CD62B;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}
.iconGit{
    font-size: 1.5rem;
    margin-right: 10px;
}

.description{
    width: 360px;
    font-size: 12px;
}